*{box-sizing: border-box;}

:root{
    --font1: "Abril Fatface", serif;
    --font2: "Bell MT", opentype;
    --font3: "Oswald", sans-serif;

}

a{
    text-decoration: none;
}
body{
    color: #566a6a;
    font-family: var(--font3);

}

.rotate-90 {
    transform: rotate(-90deg);
}

@media (min-width: 768px){
    .fixed {
        position: fixed;
        bottom: 45px; 
        right: 100px;
    }
    
    .fixed-left{
        position: fixed;
        bottom: 40px;
        left: -40px;
    }

}
@media (min-width: 1400px){
    .fixed{
        /* position: fixed; */
        bottom: 100px;
        right: 40px;
    }

    .fixed-left{
        /* position: fixed; */
        bottom: 100px;
        left: -65px;
    }
}

/* header */
.logo-div{
    height: 160px;
    display: flex;
}
.logo{
    width: 140px;
    margin-top: 15px;
}
.logo-head{
    font-size: calc(30px + (34 - 30) * ((100vw - 300px) / (1600 - 300)) );
    font-weight: 600;
    line-height: .9;
    color: black;
    margin-top: 45px;
}

@media (min-width: 768px){
    .header{
        margin: -40px;
        height: 250px;
        padding: 0;
    }    
    
    .logo-div{
        height: 180px;
        /* border: 1px solid; */
        justify-content: flex-end;
    }
    
    .logo{
        margin-top: 45px;
    }
}

@media (min-width: 992px ){
    .logo-head{
        /* align-content: end; */
        line-height: .9;
        /* border: 1px solid; */
        /* margin-top: 45px; */
    }
}
@media (min-width: 1400px){
    .logo-head{
        margin-top: 75px;
    }
}
.span{
    margin: 0;
    padding: 0;
}
/* header nav */

.nav-list{
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    height: 125px;
    padding: 0;
}
.nav-list-item{
    list-style-type: none;
    padding: 3px 10px;
    margin-left: 5px;
}

.nav-list-link, .drop-apply-link, .drop-call-admiss-link{
    text-decoration: none;
    color: black;
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)) );
}

.apply, .call-admiss{
    text-transform: uppercase;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)) );
    font-weight: 500;
    padding: 5px 10px;
    background-color: #14aad0;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
}

.call-admiss{
    background-color: rgb(252, 100, 176);
    margin-left: 20px;
}

.apply-link, .call-admiss-link{
color: white;

}

.sub-menu-link{
    color: black;
}

.line-break, .line-line-break{
    width: 580px;
    padding: 0;
    height: 0;
    margin: 0;
}

@media (min-width: 1400px) {
    .line-break, .line-line-break{
        width: 660px;
    }
}

.line-line-break{
    border: 1px solid #14aad0;
}

/* main */

.learn-more-side{
    background-color: #14aad0;
    color: #ffffff;
    padding: 25px;
    font-size: calc(30px + (32 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.enroll{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: hotpink;
    height: 60px;
}

.tagline{
    align-self: center;
    color: #89CFF0;
    text-shadow: 1px 1px 1px black;
    font-size: calc(22px + (26 - 22) * ((100vw - 300px) / (1600 - 300)) );
}
.enroll-link{
    margin-top: -10px;
    align-self: center;
    color: white;
    text-decoration: underline;
    font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
}

@media (min-width: 768px) {
    .enroll{
        flex-direction: row;
        justify-content: center;
}
    
    .tagline{
        display: flex;
        align-self: center;
        font-weight: 600;
        margin-top: 5px;
        font-size: calc(32px + (36 - 32) * ((100vw - 300px) / (1600 - 300)) );
    }
    
    .enroll-link{
        margin-top: 1px;
        margin-left: 15px;
        color: white;
        text-decoration: underline;
        font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    }
    
}

#banner{
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.grant-row{
    display: flex;
    justify-content: center;
}

.grant, .safety{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    background-color: hotpink;
    text-decoration: underline #89CFF0;
}

.grant-link, .safety-link{
    text-shadow: 1px 1px black;
    text-align: center;
    font-weight: 600;
    color: #89CFF0;
    text-transform: uppercase;
    font-size: calc(28px + (30 - 28) * ((100vw - 300px) / (1600 - 300)));
}

@media (min-width: 768px) {
    .grant, .safety{
        margin: 10px;  
    }
}


.culture-div, .student-life-div, .programs-div, .future-div{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.figcaption{
    color: #6C3A6E;
    text-align: center;
    font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)) );
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}

/* apply form */
.apply-img-div{
    height: 300px;
    background-image: url(/media/enroll.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (min-width: 768px) {
    .apply-img-div{
        height: 690px;
    }
    
}

.form-h2{
    color: #0097B2;
    border-bottom: 1px solid ;
    border-left: 1px solid;
    border-right: 1px solid;
    text-transform: uppercase;
    font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.form{
    display: block;
    justify-content: center;
    font-size: calc(22px + (24 - 22) * ((100vw - 300px) / (1600 - 300)));
}

.area-btn{
    font-size: calc(22px + (24 - 22) * ((100vw - 300px) / (1600 - 300)));
}

.form-text{
    text-transform: uppercase;
    border-bottom: 1px solid;
}
.form-label, .form-check-label{
    color: black;

}

.form-check{
    display: flex;
    justify-content: center;
}

.textarea{
    height: 100px;
}
.learn-more{
    font-size: calc(24px + (26 - 24) * ((100vw - 300px) / (1600 - 300)));
    color: white;
    background-color: #0097B2;
} 
.apply-btn{
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}

@media (min-width: 768px) {
    #locationSection{
        height: 1500px;
        border: 2px solid orange;
    }
    
}
@media (min-width: 992px) {
    #locationSection{
        height: 520px;
    }    
}
.location-row-1{
    display: flex;
    justify-content: space-evenly;
}
.location-link{
    /* font-family: var(--font2); */
    text-decoration: none;
    color: #566a6a;
    display: flex;
    justify-content: center;
    }

.location-video-div, .follow-feed-div{

    display: flex;
    justify-content: center;
}

.follow-feed-row{
    border: 1px solid black;
    justify-content: center;
}
.feed-head{
    color: white;
    margin: 10px;
    padding: 10px 20px;
}


.contact{
    display: flex;
    justify-content: center;
}

.contact-btn{
    color: white;
}

.footer-img-div{
    margin-top: 30px;
}


#footer{
    height: 485px;
    margin: 30px 0;
    color: black;
    background-color: #99999964;
    justify-content: space-evenly;
}

@media (min-width: 992px) {
    #footer{
        height: 500px;
    }    
}
@media (min-width:768px) {
    
}
.footer-subhead{
    font-weight: 600;
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)) );
    
}
.footer-nav-list-1, .footer-nav-list-2, .footer-nav-list-3, .footer-nav-list-4{
    line-height: .8;
    }

    .footer-nav-list-4{
        margin-top: -100px;
        padding: 0;
    }

    @media (min-width: 768px) {
        .footer-nav-list-4{
            margin-top: 0;
        }
    }

.footer-nav-list-link{
    text-decoration: none;
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
    color: black;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    
}

.footer-nav-list-link:hover{
    color: #c54989;
}

@media (max-width:768px) {
    .colophon{
        margin-top: 80px;
    }
}

.social {
    color: black;
}

/* apply */

.apply-line{
    background-color: #c54989;
    height: 30px;
}

/* coming soon */

.coming-soon{
    background-image: url(media/error-coming-soon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
}
@media (min-width: 768px) {
    .coming-soon{
        height: 600px;
    }  
}

/* cosmetology */

#cosMain{
    background-color: black;
    color: white;
}
.program-video-div{
    margin-top: 30px;
}
.program-video{
    width: 400px;
    height: 200px;
}
.begin-btn, .getStarted-btn{
    display: flex;
    justify-content: center;
    color: white;
    border: 3px solid hotpink;
}

.getStarted-btn{
    font-size: calc(22px + (26 - 22) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 10px;
    background-color: black;
}
.programsStart{
    margin: 0 auto;
}

.single1, .single2{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.consumer-link{
    color: white;
    /* text-align: center; */
    text-decoration: underline;
}

@media (min-width: 768px) {
    
    .cos-img{
        margin-top: 50px;
        padding-right: 40px;
    }
    .right{
        display: block;
    }
    
    .program-head{
        margin-top: 120px;
        font-size: calc(34px + (38 - 34) * ((100vw - 300px) / (1600 - 300)));
    }
    .program-desc, .program-obj, .program-paths, .video-head{
        font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
    .program-text, .path-list-item{
        /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        line-height: 1.3;
    }
    .program-video-div{
        margin-top: -420px;
    }
    .program-video{

        margin: 0;
        padding: 0;
        width: 590px;
        height: 400px;
    }
    .single1, .single2{
        display: flex;
        justify-content: space-evenly;
    }
    .est-single2{
        display: flex;
        justify-content: flex-start;
    }
    .study-areas{
        margin-top: 80px;
    }
    .study-area-img{
        width: 303px;
    }
    .programcontent{
        margin-top: 50px;
        height: 100px;
        margin-left: 60px;
    }
    
}

/* esthiology */

@media (min-width:768px) {
    .program-video-est{
        margin-top: -200px;
    }
}
.program-video-est{
    margin-bottom: 30px;
}

.est-img{
    padding-right: 50px;
}