*{box-sizing: border-box;}

:root{
    --font1: "Oswald", sans-serif;
    --font2: "Bell MT", opentype;
    --lavender: #c54989;
    --plum: #6c3a6e;
    --geranium: #ff9191;
    --eBlue: #14aad0;
    --wedgwood: #3b768f;
    --darkGreen: #566a6a;
}

a{
    text-decoration: none;
    color: #6C3A6E;
}

body{
    color: #566a6a;
    font-family: var(--font1);
}
#backgroundVideo {
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: fill;
    opacity: 30%;
}

.skew{
    transform: skewX(20deg);
}
.skew-y {
    transform: skewY(20deg);
}


.rotate-90 {
    transform: rotate(-90deg);
}
.fixed:hover{
    background-color: hotpink;
    color: white;
}

.fixed-left:hover{
    background-color: hotpink;
    color: white;
}


@media (min-width: 768px){
    .fixed {
        position: fixed;
        bottom: 45px; 
        right: 100px;
    }
    
    .fixed-right{
        position: fixed;
        bottom: 40px;
        left: -40px;
    }

}
@media (min-width: 1400px){
    .fixed{
        position: fixed;
        bottom: 100px;
        right: -60px;
    }

    .fixed-left{
        position: fixed;
        bottom: 100px;
        left: -60px;
    }
}

/* header */

.header-row {
    justify-content: space-around;
}

.logo-div{
    display: flex;
}

.logo{
    width: 140px;
    margin-top: 15px;
}

.logo-head{
    font-size: calc(30px + (34 - 30) * ((100vw - 300px) / (1600 - 300)) );
    font-weight: 600;
    line-height: .9;
    color: black;
}



@media (min-width: 768px){
    .header{
        padding: 0;
        margin: 0;
    }    
    
    .logo-div{
        height: 180px;
        justify-content: flex-end;
    }
    
    .logo{
        margin: 0;
    }
}

@media (min-width: 992px ){
    .logo-head{
        line-height: .9;
    }
}
@media (min-width: 1400px){
    .logo-head{
        margin: 0;
        padding-top: 20px;
    }
}

@media (max-width: 768px){
    .logo-head{
        padding-top: 40px;
    }
}

.span{
    margin: 0;
    padding: 0;
}
/* header nav */

.nav-list{
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    height: 125px;
    padding: 0;
}

.nav-list-item{
    list-style-type: none;
    padding: 3px 10px;
}

.nav-list-link, .drop-apply-link, .drop-call-admiss-link{
    text-decoration: none;
    color: black;
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)) );
}

.apply, .call-admiss{
    text-transform: uppercase;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)) );
    font-weight: 500;
    padding: 5px 10px;
    background-color: #14aad0;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
}
.call-admiss{
    background-color: orange;
    margin-left: 20px;
}
.call-admiss-link{
    color: white;
}
.apply-link{
color: white;

}

.sub-menu-link{
    color: black;
}

.line-break, .line-line-break{
    width: 580px;
    padding: 0;
    height: 0;
    margin: 0;
}

@media (min-width: 1400px) {
    .line-break, .line-line-break{
        width: 660px;
    }
}

.line-line-break{
    border: 1px solid #14aad0;
}

/* main */


.learn-more-side{
    background-color: hotpink;
    color: #ffffff;
    padding: 30px;
    border-radius: 0;
    text-shadow: 1px 1px black;
    font-size: calc(32px + (38 - 32) * ((100vw - 300px) / (1600 - 300)));
    z-index: 2;
}

.enroll{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: hotpink;
    height: 60px;
}

.tagline{
    align-self: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: calc(22px + (26 - 22) * ((100vw - 300px) / (1600 - 300)) );
}
.enroll-link{
    margin-top: -10px;
    align-self: center;
    color: white;
    text-decoration: underline;
    font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.x{
    margin: 0 15px;
    text-transform: lowercase;
}
@media (min-width: 768px) {
    .enroll{
        flex-direction: row;
        justify-content: center;
}
    
    .tagline{
        display: flex;
        align-self: center;
        font-weight: 600;
        margin-top: 5px;
        font-size: calc(32px + (36 - 32) * ((100vw - 300px) / (1600 - 300)) );
    }
    
    .enroll-link{
        margin-top: 1px;
        margin-left: 15px;
        color: white;
        text-decoration: underline;
        font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    }
    
}

#banner{
    margin-top: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.get-started-link{
    position: absolute;
    padding: 10px 30px;
    text-transform:uppercase ;
    background-color: #6c3a6e;
    color: white;
    top: 380px;
    right: 300px;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.get-started-link:hover{
    color: #6c3a6e;
    background-color: white;
}

.grant-row{
    display: flex;
    justify-content: center;
}

.grant, .safety{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    background-color: hotpink;
    text-decoration: underline white;
}

.grant-link, .safety-link{
    text-shadow: 1px 1px black;
    text-align: center;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    font-size: calc(28px + (30 - 28) * ((100vw - 300px) / (1600 - 300)));
}

@media (min-width: 768px) {
    .grant, .safety{
        margin: 10px;  
    }
}
@media (max-width: 767px) {
    #cspfItems {
        width: 80%;
    }
    
}

.culture-div, .student-life-div, .programs-div, .future-div{
    justify-content: center;
    padding: 0;
    margin: 0;
}

#programSubmenu {
    background-color: var(--geranium);
}

.figcaption{
    color: #6C3A6E;
    text-align: center;
    font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)) );
    text-transform: uppercase;
    margin-top: 10px;
}

/* apply form */
.apply-img-div{
    height: 300px;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .apply-img-div{
        height: 100%;
    }
    
}

.form-h2{
    color: #0097B2;
    text-transform: uppercase;
    font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.form{
    display: block;
    justify-content: center;
    font-size: calc(22px + (24 - 22) * ((100vw - 300px) / (1600 - 300)));
}

.area-btn{
    font-size: calc(22px + (24 - 22) * ((100vw - 300px) / (1600 - 300)));
    color: var(--plum);
}

.form-text{
    text-transform: uppercase;
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}
.form-label, .form-check-label{
    color: var(--plum);
}
#programSelect{
    color: #6c3a6e;
}

.consent-heading{
    color: #c54989;
    font-size: calc(26px + (28 - 26) * ((100vw - 300px) / (1600 - 300)));
}
.consent-text{
    font-size: calc(14px + (14 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.textarea{
    height: 100px;
}
.learn-more{
    font-size: calc(24px + (26 - 24) * ((100vw - 300px) / (1600 - 300)));
    color: white;
    background-color: hotpink;
} 
.apply-btn{
    color: white;
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}

@media (min-width: 768px) {
    #locationSection{
        height: 1500px;
        border: 2px solid orange;
    }
    
}
@media (min-width: 992px) {
    #locationSection{
        height: 520px;
    }    
}
.location-row-1{
    display: flex;
    justify-content: space-evenly;
}
.location-link{
    text-decoration: none;
    color: #566a6a;
    display: flex;
    justify-content: center;
    }


#learnMoreImg:hover {
    scale: 120%;
}


.apply-btn{
    font-family: var(--font1);
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
    background-color: var(--lavender);
}

.follow-feed-row{
    border: 1px solid black;
    justify-content: center;
}
  
.feed-head{
    color: white;
}

#formComment {
    font-size: 30px;
    padding-bottom: 25px;
}

.contact{
    display: flex;
    justify-content: center;
}

.contact-btn{
    color: white;
}

.footer-logo{
    border: 1px solid;
}

.footer-img-div{
    margin-top: 30px;
}


#footer{
    height: 485px;
    margin: 30px 0;
    color: black;
    background-color: #9999992b;
    justify-content: space-evenly;
}

@media (min-width: 992px) {
    #footer{
        height: 500px;
        padding-top: 30px;
    }    
}
@media (min-width:768px) {
    
}

.footer-subhead{
    font-weight: 600;
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)) );
    
}
.footer-nav-list-1, .footer-nav-list-2, .footer-nav-list-3, .footer-nav-list-4{
    line-height: .8;
    }

    .footer-nav-list-4{
        margin-top: -100px;
        padding: 0;
    }

    @media (min-width: 768px) {
        .footer-nav-list-4{
            margin-top: 0;
        }
    }

.footer-nav-list-link{
    text-decoration: none;
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
    color: black;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    
}

.footer-nav-list-link:hover{
    color: #c54989;
}

@media (max-width:768px) {
    .colophon{
        margin-top: 80px;
    }
}

.social {
    color: black;
}

/* apply */

.apply-line{
    background-color: var(--lavender);
    height: 40px;
}

/* coming soon */

.coming-soon{

   border: 1px solid ;
   background-image: url(media/error-coming-soon.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/* .culture-wip {
    object-fit: cover;
    top: 0;
    left: 0;
    background-image: url(media/error-coming-soon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
} */


@media (min-width: 768px) {
    .coming-soon{
        height: 600px;
    }  
}

/* cosmetology */

#cosMain{
    background-color: #9999992b;
    color: black;
    font-size: calc(22px + (24 - 22) * ((100vw - 300px) / (1600 - 300)));
}
@media (max-width: 576px) {
    .cost-div{
        
        border: 1px solid hotpink;
    }
    .cost-text{
        font-size: 10px;
    }

    .program-text-div{
        margin-top: 100px;
    }
}

.mobile-heading{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.cost-div {
    height: 670px;
    border: 1px solid hotpink;
    border-radius: 5px;
    box-shadow: 2px 4px #6c3a6e ;
    margin: 10px;
}
.cost-heading{
    font-size: calc(26px + (32 - 26) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;
}

.cost-text{
    color: black;
    font-family: sans-serif;
    line-height: 1;
    font-size: calc(18px + (18 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.work-study{
    font-weight: 600;
}

.single1, .single2{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.consumer-link{
    color: black;
    text-decoration: underline;
}

@media (min-width: 768px) {
    
    .right{
        display: block;
    }
    
    .program-head{
        margin-top: 120px;
        font-size: calc(34px + (36 - 34) * ((100vw - 300px) / (1600 - 300)));
    }

    .program-text, .path-list-item{
        font-family: sans-serif;
        font-size: calc(18px + (18 - 18) * ((100vw - 300px) / (1600 - 300)));
        line-height: 1.3;
    }

    .single1, .single2{
        display: flex;
        justify-content: space-evenly;
    }
    .est-single2{
        display: flex;
        justify-content: flex-start;
    }
    .study-areas{
        margin-top: 80px;
    }
    .study-area-img{
        width: 303px;
    }
    .programcontent{
        margin-top: 50px;
        height: 100px;
        margin-left: 60px;
    }
    
}

/* esthiology */

@media (min-width:768px) {
    
}

.est-img{
    margin: 0;
    padding: 25px;
}


/* Nails */

#videoDiv {
    text-align: center;
}

.nail-img{
    margin: 0;
}

/* Copy */

#copyText  {
    color: black;
    font-size: 30px;
}

/* natural hair */

#naturalHairMain, #instructorMain{
    background-color: #9999992b;
    color: black;
    font-size: calc(22px + (24 - 22) * ((100vw - 300px) / (1600 - 300)));
}

/* instructor */
@media (min-width:576px) {
    #instructorCostDiv{
        margin-right: 110px;
    }
    
}

/* programs */

#programMain{
    background-color: #9999992b;
}
.programs-heading{
    border-bottom: 5px solid hotpink;
    text-transform: uppercase;
    font-size: calc(40px + (42 - 40) * ((100vw - 300px) / (1600 - 300)));
    color: black;
}
@media (min-width: 576px) {
    .programs-heaing{
        text-align: center;
    }
   
}

.photo1{
    height: 160px;
    box-shadow: 1px 2px 3px hotpink;
}

@media (min-width: 992px) {
    .photo1{
        height: 400px;
    }
    
}

.end{
    justify-content: end;
}

.figure{
    display: flex;
}

.sample-subhead{
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--font1);
    font-size: calc(26px + (28 - 26) * ((100vw - 300px) / (1600 - 300)));
}
.caption{
    color: black;
    margin: 10px;
    font-family: sans-serif;
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.image{
    border: 2px solid var(--litegreen);
    margin: 0 auto;
}